<div class="container-fluid bg-white p-5">
    <div class="row">
        <div class="col-sm-12 col-md-8 d-flex justify-content-start">
            <div class="p-5 mt-5 me-5">
                <h3>This First Heading <span class="text-secondary">Will Catch Your Eye </span></h3>
                <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                    euismod semper. Present commodo cursus magna, vel scelerisque nisl
                    consecretur. rusce cadious. tellus ac cursus commodo.</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 d-flex justify-content-end">
            <div class="card border border-0 pt-2" style="max-width: 100%">
                <img src="/website/assets/img/1.jpg"
                    class="services-img card-img-top rounded-circle rounded-0 img-fluid" alt="...">
            </div>
        </div>
    </div>
</div>
