<!-- your html code here -->

<div class="container-fluid bg-white p-5">
    <div class="row">
        <div class="col-sm-12 col-md-4 d-flex justify-content-end">
            <div class="card border border-0 pt-2" style="max-width: 100%">
                <img src="/website/assets/img/2.jpg" class="services-img card-img-top rounded-circle rounded-0 img-fluid" alt="...">
              </div>
        </div>
        <div class="col-sm-12 col-md-8 d-flex justify-content-start">
            <div class="p-5 mt-5 me-5">
                <h2>The Second Heading <span class="text-secondary">is Pretty Cool Too.</span></h2>
                <p class="fs-5">Is a statement that exudes confidence and a sense of uniqueness. It suggests that while the focus may be on something else initially, the second heading is equally impressive or noteworthy. 
                    It's a playful way to draw attention to the importance or significance of what might otherwise be overlooked.</p>
            </div>
        </div>
    </div>
</div>
